.header {
  width: 100%;
  height: 58px;
  background-color: #0be881;
  line-height: 58px;
  font-size: 40px;
  font-weight: bolder;
  padding: 0px 20px;
  display: block;
  text-align: center;
}

.container {
  width: 75%;
  padding: 20px;
  height: calc(100% - 58px);
  background-color: #d2dae2;
  float: left;
}

.activeSection {
  width: 25%;
  float: right;
  background-color: slategray;
  height: calc(100vh - 58px);
  padding: 5px;
}

.activeSection > h3 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ffd32a;
}

.activeTrade {
  text-align: center;
}

.activeTrade > h3 {
  font-size: x-large;
  color: seashell;
}

.activeTrade > p {
  font-size: small;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid seashell;
  padding: 3px;
}

table {
  margin-top: 10px;
}

.connectBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffdd59;
  border: none;
  outline: none;
  display: block;
  margin: auto;
  font-size: large;
}

.connectBtn:hover {
  background-color: #ffd32a;
}

.textInput {
  width: 800px;
  height: 60px;
  padding: 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
  outline: none;
}

.price {
  display: flex;
  width: 800px;
  margin: auto;
  margin-top: 20px;
}

.priceInput {
  width: 28%;
  height: 60px;
  padding: 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
  outline: none;
}

.spacer {
  flex-grow: 1;
}

.transactions,
.token {
  margin: auto;
  display: block;
  width: 800px;
}

label {
  margin: 0 10px;
}

.startBtn {
  width: 500px;
  height: 60px;
  padding: 20px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  background-color: #05c46b;
  display: block;
  margin: auto;
  border: none;
  outline: none;
  margin-top: 20px;
}

.startBtn:hover {
  background-color: #0be881;
}
